/input/*
/raw/kanji-words/v3/*
/raw/kanji-words/v3b/*
/raw/kanji-textbook-words/*
/raw/kanji-textbook-words-min/*
/raw/freq-ranks/*

/debug/*
!/debug/.keep

.DS_Store
!/input/.keep
/output/*
!/output/.keep
/releases/*
!/releases/.keep

/.venv/*

temp/

generate-log.txt
generate-log-min.txt

__pycache__/
